.Nav {
  background-color: red;
  width: 64px;
  height: 150px;
  position: sticky;
  top: 66px;
}

.Content {
  background-color: rgb(7, 73, 131);
  flex: 7;
  height: 1500px;
}

.Info {
  background-color: aqua;
  flex: 3;
  height: 100vh;
  position: sticky;
  top: 66px;
  z-index: -1;
}

@media (max-width: 1023px) {
  .Info {
    display: none;
  }
}

@media (max-width: 767px) {
  .Nav {
    height: var(--nav-haight);
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
