.Content {
  background-color: rgb(7, 73, 131);
  flex: 7;
  min-height: 1500px;
}

.Info {
  background-color: aqua;
  flex: 3;
  height: 100vh;
  position: sticky;
  top: 66px;
  z-index: -1;
}

@media (max-width: 1023px) {
  .Info {
    display: none;
  }
}
