.Content {
  background-color: white;
  flex: 7;
  border-radius: 7px;
  box-shadow: 0 0 0 1px var(--card-border);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Banner {
  border-radius: 7px 7px 0 0;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/6.72;
}

.PostInfo {
  padding: 32px 64px 0 64px;
}

.PostInfo h1 {
  margin-bottom: 8px;
  font-size: 48px;

  font-weight: 800;
  line-height: 60px;
}

.Post {
  padding: 32px 64px;
  min-height: 100vh;
}

.Post p,
.Post blockquote {
  margin-bottom: 20px;
  font-size: 20px;
  color: #171717;
  line-height: 30px;
}

.Post h3 {
  font-size: 25px;
  margin: 10px 0;
  line-height: 30px;
}

.Tags {
  display: flex;
  flex-wrap: wrap;

  font-size: 16px;

  line-height: 24px;
}

.Tags div {
  border-radius: 8px;
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid transparent;
}

.Tags div:hover {
  background-color: rgba(255, 148, 148, 0.2);
  border: 1px solid red;
  transition: 200ms;
}

.Position {
  position: relative;
  width: 40px;
  height: 40px;
}

.LogoBackGround {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  object-fit: cover;
}

.Logo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  right: -8px;
  bottom: -8px;
}

.Posted {
  height: 62px;
}

.PostBy {
  display: flex;

  font-weight: 400;
  line-height: 24px;
}

.PostedText {
  padding-left: 12px;
  color: #5c5c5c;
}

b {
  color: black;
}

.PostedText span {
  color: black;
  font-weight: 400;
}

.PostDate {
  font-size: 12px;
  line-height: 18px;
}

.Post hr {
  width: 25%;
  opacity: 0.1;
  border-radius: var(--radius);
  border: 1px solid var(--body-color);
  margin: 36px auto;
}

@media (max-width: 1023px) {
  .Content {
    flex: 1;
  }

  .PostInfo h1 {
    font-size: 36px;
    line-height: 45px;
  }

  .PostInfo {
    padding: 32px 48px 0 48px;
  }

  .Post {
    padding: 32px 48px;
  }

  .Post h3 {
    font-size: 22.5px;
    margin: 9px 0;
    line-height: 28.125px;
  }

  .Post p,
  .Post blockquote {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: 767px) {
  .Post {
    padding: 20px;
  }

  .PostInfo {
    padding: 20px 20px 0 20px;
  }

  .PostInfo h1 {
    font-size: 30px;
    line-height: 37.5px;
  }
}

@media (max-width: 639px) {
  .Post {
    padding: 12px;
  }

  .PostInfo {
    padding: 12px 12px 0 12px;
  }

  .PostInfo h1 {
    font-weight: 700;
  }
}
