* {
  padding: 0;
  margin: 0;
}

::selection {
  color: rgb(211, 211, 211);
  background-color: rgb(70, 70, 70);
}

:root {
  --nav-haight: 56px;
  --grey-900: 23, 23, 23;
  --card-border: rgba(var(--grey-900), 0.1);
  --radius: 0.375rem;
  --body-color: rgb(var(--grey-900));
  --content-rhythm: var(--content-font-size);
  --content-font-size: var(--fs-l);
  --fs-l: 1.125rem;
  --base-20: #d6d6d7;
  --button-outlined-border: var(--base-20);
}

/* loading sceleton */

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  opacity: 0.7;
}

.video {
  border-radius: 7px 7px 0 0;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/6.72;
}

.skeleton-text {
  width: 98%;
  height: 0.5em;
  margin: 0 0 5px 10px;
  border-radius: 10px;
}

.skeleton-text:last-child {
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.header {
  display: flex;
  align-items: center;
  padding-bottom: 13px;
}

.image {
  min-width: 50px;
  min-height: 50px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 50%;
}

.box {
  -webkit-box-shadow: 0px 0px 3px 1px #fffafa;
  box-shadow: 0px 0px 3px 1px #ffffff;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
}

.box-skeleton {
  -webkit-box-shadow: 0px 0px 3px 1px #ffffff;
  -webkit-box-shadow: 0px 0px 0px 0.3px rgba(3, 0, 0, 0.7);
  box-shadow: 0px 0px 0px 0.3px rgb(0, 0, 0.7);
  padding: 20px;
  border-radius: 5px;
  margin: 8px 0;
  min-height: 119px;
  background-color: white;
}

.text1 {
  width: 100%;
}

/* loading sceleton */

.Img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 22/9;
}

.NoImg {
  display: none;
}


body {
  background-color: #f5f5f5;
}

iframe {
  aspect-ratio: 16/9;
  height: 350px;
}

img {
  display: block;
  width: 100%;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

blockquote {
  border-left: 4px solid rgb(207, 207, 207);
  padding-left: 20px;
  margin-top: 20px;
}

tr:nth-child(even) {
  background: rgb(238, 238, 238);
}
tr:nth-child(odd) {
  background: #fff;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}

table,
th,
td {
  border: 1px solid;
}

th,
td {
  font-weight: 500;
  padding: 10px;
}

header {
  width: 100%;
  height: var(--nav-haight);
  background-color: white;
  -webkit-box-shadow: 0px -5px 8px 1px rgba(115, 115, 115, 0.53);
  box-shadow: 0px -5px 8px 1px rgba(115, 115, 115, 0.53);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}

button {
  cursor: pointer;
}

footer {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 48px;
  background-color: #e5e5e5;
  color: #404040;
}

.menu {
  padding: 8px 16px 8px 8px;
  color: #404040;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  gap: 8px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.menu:hover {
  color: #2f3ab2;
  background-color: #e2e3f3;
  text-decoration: underline;
  transition: 200ms;
}

.ck-editor__editable_inline {
  min-height: 400px;
}

div[editable] {
  border-color: #a0c0e4;
  border-radius: 2px;
  outline: none;
}

input[type="file"] {
  font-size: 0;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
  border-color: transparent;
}

.ck.ck-editor__main > .ck-editor__editable:focus {
  border-color: transparent;
  box-shadow: none;
}

.ck.ck-toolbar .ck.ck-toolbar__separator {
  align-self: unset;
}

.ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
  border-width: 0px;
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #1976d2;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

::file-selector-button {
  font-size: initial;
}

@media (max-width: 1023px) {
  blockquote {
    padding-left: 18px;
    margin-top: 18px;
  }
}

@media (max-width: 767px) {
  footer {
    padding: 20px 20px 70px 20px;
    font-size: 14px;
    line-height: 21px;
  }
}
